html {
    font-size: 15px;
    font-family: 'Anton', sans-serif;
    text-align: center
  }

  h1{ 
      font-size: 1.5rem;
  }

  h2{
    font-size: 1rem;
  }
  
  body{
      font-size: 1rem;
      line-height: 1.5;
  }

  header, div, nav, footer{
      margin: 1.25rem auto;
      max-width: 760px;
  }

  nav {
      margin: 1.25rem 1.25rem;
  }

  header, footer{
      background-color: rgb(189, 222, 135);
      text-align: center;

  }
  nav{
      padding-bottom: 1.0rem;
  }

  div{
      padding-top: 1.0rem;
      text-align: left;
  }

  hr{
      color: rgba(146, 146, 146, 0.418);
  }

  img{
      border-top-right-radius: 15px;
      
      line-height: 10px;
      margin-top: 20px;
      margin-right: 20px;
      height: 170px;
      width: 140px;
  }
