.cards {
    display: grid;
    grid-template-columns: 1fr;
}

.cards section {
    background-image: linear-gradient(135deg,  rgb(9, 2, 109), rgba(0,0,225,.3));
    margin: 10px;
    text-align: center;
    border-radius: 10px;
}

.cards section img {
    max-width: 200px;
    max-height: 200px;
}

.cards section h3 {
    font-size: 17px;
}

.cards section h2 {
    color: white;
    padding-bottom: 10px;
}

.cards section p, .cards section h3 {
    color: white;
}

.lowerhomepage {
    display: flex;
    grid-template-columns: 1fr;
}

.lowerhomepage div {
    background-image: linear-gradient(rgba(0,0,225,.3),  rgb(9, 2, 109));
    border-radius: 10px;
}

.homepagemap h2 {
    color: white;
    padding-top: 10px;
}

.homepagelinktoarticle h2 {
    color: white;
    padding-top: 5px;
}

article img {
    max-width: 200px;
}

.homepagelinktoarticle p {
    color: white;
}


 


@media only screen and (min-width: 700px) {
    .cards { 
        display: flex;
        flex-wrap: wrap;
    }
    
    section {
      display: flex;
        flex-direction: column;
        width: 300px;

    }

    section img {
        margin-left: 50px;
    }
    
    section:nth-child(odd) {
        flex-direction: column-reverse;
    }

    section.pictures {
        margin: 0px;
    }
    
}



@media only screen and (min-width: 1120px) {
    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    section {
        display: grid;
    }


}