/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}


/*----------- HEADER --------------*/
.headerWrapper {
    background-color:white;
}
header {
    padding: .5rem 2%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
}
header img {float: left; margin-right: 10px; width: 50px;}
header h1 {margin: 0; font-size: 1.3rem; color: rgb(17, 0, 255);}
header h2 {margin: 0; font-weight: normal; font-size: 1rem; color: rgb(17,0,255);}



/*----------- NAVIGATION --------------*/
.navWrapper {
    background-color: rgb(9, 2, 109);
}


nav {
    background-color:rgb(9, 2, 109);
}


nav button {
    margin-left: 15px;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    color: white;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}


nav ul li a:hover {
    background-color: #aaa;
    color: #333;
}
nav ul li.active a {
    background-color: #eee;
    color: #000;
}

nav ul.hide {
    display: none;
}


/*----------- MAIN --------------*/
main {
    padding: 2rem 2%;
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    
}

main div {
    background-color:rgb(120, 189, 245);
    padding: 2rem;
    margin: 1rem;
}


/*----------- FOOTER --------------*/
.footerWrapper{
    background-color: rgb(9, 2, 109);
}

footer {
    background-color: rgb(9, 2, 109);
    color: white;
    padding: .5rem 2%;
    text-align: center;
}


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

h1{
    color: blue;
}