.cards {
    display: grid;
    grid-template-columns: 1fr;
}

.cards section {
    background-image: linear-gradient(135deg,  rgb(9, 2, 109), rgba(0,0,225,.3));
    margin: 10px;
    text-align: center;
    border-radius: 10px;
}

.cards section img {
    max-width: 200px;
    max-height: 200px;
}

.cards section h3 {
    font-size: 17px;
}

.cards section h2 {
    color: white;
    padding-bottom: 10px;
}

.cards section p, .cards section h3 {
    color: white;
}

.lowerhomepage {
    display: flex;
    grid-template-columns: 1fr;
}

.lowerhomepage div {
    background-image: linear-gradient(rgba(0,0,225,.3),  rgb(9, 2, 109));
    border-radius: 10px;
}

.homepagemap h2 {
    color: white;
    padding-top: 10px;
}

.homepagelinktoarticle h2 {
    color: white;
    padding-top: 5px;
}




.lowerhomepage {
    max-width: 600px;
    margin: .5rem auto;
	border:1px solid #bbb;
    background-color: #eee;
	display: flex;
    flex-wrap: wrap;
}

article {
  display: flex;
	flex-direction: row;
}

article:nth-child(odd) {
	flex-direction: row-reverse;
}

article img {
    max-width: 200px;
}



 


@media only screen and (min-width: 700px) {
    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .lowerhomepage {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }



}


@media only screen and (min-width: 1200px) {
    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

}